<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Knowledge Continuum" property="og:site_name"/>
    <meta content="A non-linear thread of important ideas weaved together to explore and understand the fabric of knowledge." property="og:description">
    <meta content="{{ site.url }}/about/" property="article:author">

    {%- if page.title -%}
    <meta content="{{ page.title }}" property="og:title">
    <meta content="article" property="og:type">
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">

    <script type="application/ld+json">
        {
          "@context":"https://schema.org/",
          "@type":"Dataset",
          "name":"{{ page.title }}",
          "description":"{{ content | strip_html | strip | escape | truncate: 200}}",
          "url":"{{ site.url }}{{ page.url }}",
          "keywords":[{% for tag in page.tags %}"{{ tag }}"{% unless forloop.last %},{% endunless %}{% endfor %}],
          "license" : "https://creativecommons.org/publicdomain/zero/1.0/",
          "isAccessibleForFree" : true,
          "creator":{
             "@type":"Organization",
             "url": "{{ site.source_url }},
             "name":"{{ site.name }}",
             "contactPoint":{
                "@type":"ContactPoint",
                "contactType": "{{ site.source_contact_type }}",
                "telephone":"{{ site.source_phone }}",
                "email":"{{ site.source_email }}"
             }
          },
          "includedInDataCatalog":{
             "@type":"DataCatalog",
             "name":"{{ site.source_catalog }}"
          },
          "distribution":[
            {%- if page.csv_url != '' -%}   
             {
                "@type":"DataDownload",
                "encodingFormat":"CSV",
                "contentUrl":"{{ page.csv_url }}"
             }
             {%- endif -%}
             {%- if page.csv_url != '' and  page.json_url != '' -%},{%- endif -%}
             {%- if page.json_url != '' -%}     
             {
                "@type":"DataDownload",
                "encodingFormat":"JSON",
                "contentUrl":"{{ page.json_url }}"
             }
             {%- endif -%}
          ]
        }
        </script>

    {%- else -%}
    <meta content="website" property="og:type">
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {%- endif -%}

    <title>{{site.title}}</title>

    <link rel="canonical" href="{{site.url}}{{page.url}}"/>
    <link rel="apple-touch-icon" href="{{site.profile_pic}}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

    <link rel="icon" href="{{site.favicon}}" type="image/png" sizes="16x16"/>
    <link href="/assets/css/styles.css" rel="stylesheet" media="all"/>
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/atom.xml">

    <script data-ad-client="ca-pub-0202072258759210" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F5G2EPT7QM"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-F5G2EPT7QM');
    </script>

</head>

<body>
    <div class="container">                    
        <div class = "box">
            
<header>
    <div class="dashboard disable-select">
        <div class="site-heading profile-board-col">
           <h4 class="medium"><a href="/">{{site.title}}</a></h4>
        </div>
        <div class="userboard profile-board-col">
            <div class="username">
                <p class="title-sans"><a href="/about" style="text-decoration: none;">{{site.name}}</a></p>
            </div>
            <div class="userdesc">
                <p class="title-sans">{{site.description}}</p>
            </div> 
        </div>
    </div>
    <div class="avatar disable-select" title="click me to know more">
        <a class="avatar-link" href="/about">
            <img src="{{ site.profile_pic }}" class="avatar-img" alt="avatar"/>
        </a>
    </div>
    <div class="main-site-subheader menu disable-select">
        <div class="home">
            <br>
            <a style="text-decoration: none;" href="/">
               <img src="https://template.dayda.org/assets/img/home-icon.png" width="40">
               <p class="home-p">Home</p>  
            </a>
        </div>        
        <div class="home">
            <br>
            <a style="text-decoration: none;" href="/about">
                <img src="https://template.dayda.org/assets/img/about-icon.png" width="40">                
                <p class="home-p">About</p>  
            </a>
        </div>
        <div class="categories">
            <br>
            <a style="text-decoration: none;" href="/tags">             
                <img src="https://template.dayda.org/assets/img/tags-icon.png" width="40">
                <p class="categories-p">Tags</p>
            </a>
        </div>
        <div class="rss">
            <br>
            <a style="text-decoration: none;" href="/atom.xml">             
                <img src="https://template.dayda.org/assets/img/feed-icon.png" width="40">
                <p class="rss-p">Feed</p>
            </a>
        </div>
        <div class="rss">
            <br>
            <a style="text-decoration: none;" href="/apis.json">             
                <img src="https://template.dayda.org/assets/img/api-icon.png" width="40">
                <p class="rss-p">APIs.json</p>
            </a>
        </div>   
    </div>
    <div class="searchbar search-container">
        <i class="fa fa-search" aria-hidden="true"></i>
        <label for="search-input"></label>
        <input type="text" oninput="changeResultContainerDisp(this.value)" id="search-input" autocomplete="off" placeholder="Search Datasets"/>
        <ul id="results-container"></ul>
    </div>
    <script src="/assets/js/simple-jekyll-search.min.js"></script>
    <script>
        function changeResultContainerDisp(val) {
            if (val) {
                document.getElementById("results-container").style.display = "block";
                document.getElementById("search-input").addEventListener('blur', function() {
                    document.addEventListener('click', function(event) {
                        var isClickInside = document.getElementById("results-container").contains(event.target);
                        if (!isClickInside) {
                            document.getElementById("results-container").style.display = "none";
                        }
                    })
                }) 
            }  else {
                document.getElementById("results-container").style.display = "none";
            }
        }
        var sjs = SimpleJekyllSearch({
                    searchInput: document.getElementById('search-input'),
                    resultsContainer: document.getElementById('results-container'),
                    json: '/search.json',
                    searchResultTemplate: '<li class="search_res" style="list-style: none;"><a href="{{ site.url }}{url}" style="text-decoration: none; color: #555555;"><p style="font-size: 1.0rem; font-family: "Inter !important"; font-weight: 600;">{title}</p></a></li>',
                    noResultsText: 'No results found',
                    fuzzy: false,
                    limit: 4
                    })   
    </script>
</header>
